<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Login page</title>
</head>
<body>
<center><h1>Login</h1></center>
<form action="#" th:action="@{/login}" th:object="${loginForm}" method="post">
    <span th:if="${#fields.hasGlobalErrors()}" th:errors="*{global}">Global error</span><br/>
    <input type="text" th:field="*{username}" placeholder="Username"/>
    <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</span><br/>
    <input type="password" th:field="*{password}" placeholder="Password"/>
    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</span><br/>
    <button type="submit">Login</button>
</form>
</body>
</html>